.h1 {
  padding-top: 10vh;
  font-weight: 400;
}

.btnCity {
  background-color: var(--main-color);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;

  transition: all 0.2s ease-in-out;
}

.btnCity :hover {
  background-color: var(--hover-color);
}

.Btn {
  width: 130px;
  height: 40px;
  background-color: var(--main-color);
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  transition-duration: 0.3s;
  margin: auto;
}
.Btn:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}
.containerCity {
  display: flex;
  width: 30%;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}
.xCity{
  transition: .3s;
  cursor: pointer;
}
.xCity:hover{
  transform: scale(1.2);
}
@media (max-width: 600px) {
.containerCity{
  width: 70%;
}
}