.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  margin: auto;
}

.inp,
.btn {
  font-size: medium ;
  height: 30px;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid gray;
  cursor: pointer;
  outline: none;
}
.inp:focus {
  border-bottom: 2px solid #269d26;
}
.btn {
  background-color: var(--main-color-entry-btn);
  border: 2PX solid black;
  transition:  0.3s ease-in-out;
  color: black;

}

.btn:hover {
  border: 2PX solid white;
background-color: black;
  /* transform: scale(1.03); */
  color: white;

}
