.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.title {
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #8888;
}

.inputContainer {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  width: 90%;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.4s ease-in-out;
  font-size: 1.2rem;
}

.input:focus,
.input:active {
  border-bottom: 2px solid var(--main-color);
  box-shadow: 3px 3px 3px #8888;

}

.btn {
  position: relative;
  background-color: var(--main-color);
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  transition: .2s;
}

.btn:hover {
  box-shadow: 3px 3px 3px #8888;
  transform: scale(1.1);
}



/* .btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
} */

.link {
  cursor: pointer;
  margin-top: 20px;
  color: #5d5d5d;
  text-decoration: none;
  font-size: 1rem;
}

.link:hover {
  text-decoration: underline;
  color: var(--main-color);
}
