.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.605);
  z-index: 1;
}

.icon {
  cursor: pointer;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f7f7f7;
  margin: 0;
  padding-left: 10px;
}
.iconPhone {
  display: none;
}
.nav {
  display: flex;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: large;
  color: var(--active-link);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 10px 20px;
  border-bottom: var(--main-color) solid 3px;
}

.link:hover,
.link.activeLink {
  border-bottom: var(--active-link) solid 3px;
}

#cartLength {
  font-weight: bold;
  font-size: 11px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--active-link);
  color: var(--main-color);
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
}

/* Media Query for 1100px */
@media (max-width: 1100px) {
  .navbar {
    padding: 10px;
  }

  .icon {
    font-size: 24px;
  }

  .link {
    font-size: medium;
    padding: 8px 15px;
  }

  #cartLength {
    font-size: 10px;
    width: 12px;
    height: 12px;
    margin-left: 3px;
    margin-top: 3px;
  }
}
@media (max-width: 950px) {
  .iconPhone {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .icon {
    display: none;
    float: left;
    
  }
}