.h1Name {
  margin-left: 10px;

  margin-top: 14vh;
  font-weight: 300;
  color: var(--main-color);
}
.imgType {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 5%;
  align-items: center;
}

.divImg {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.h3Slide {
  margin-top: -20%;
  color: var(--main-color);
  cursor: pointer;
  border: none;
  font-weight: 400;
  height: 30px;
}

.img {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.img:hover {
  box-shadow: 3px 5px 10px #cccc;
}
