.singleProduct{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: white;
     margin: auto;
     width: 85%;
     margin-top: 20px;
     border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.605);
  align-items: center;
  transition: all .1s ease-in-out;

}
.singleProduct:hover{
     transform: scale(1.01); 
     z-index: -1;

}
.img{
     width: 20%;
     height: 10%;
}
.plusOrX{
     cursor: pointer;
     transition: all .2s ease-in-out;
}
.plusOrX:hover{
     transform: scale(1.4); 
}
#delete:hover{
     color: red;
}

