.singleProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  margin: auto;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 10px #b3b3b3cc;
  align-items: center;
  transition: all 0.1s ease-in-out;
}
.singleProduct:hover {
  transform: scale(1.01);
  z-index: -1;
}
.img {
  width: 20%;
  height: 10%;
  transition: all 0.2s ease-in-out;
  /* mix-blend-mode: color-burn; */
}
.img:hover {
  transform: scale(1.4);
}
.plusOrX {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.plusOrX:hover {
  transform: scale(1.4);
}
#delete:hover {
  color: red;
}
.h1Type {
  margin-top: 12vh;
}
.h2 {
  font-weight: 400;
}
.radioContainer {
  display: flex;
  align-items: center;
}

.radioInput {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}

.radioInput::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--main-color);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.radioInput:checked::before {
  opacity: 1;
}
