.h1Name {
  margin-top: 15vh;
  font-weight: 300;
  color: var(--main-color);
  text-shadow: 3px 3px 3px #88888898;
  display: inline-block;
}


.imgType {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 5%;
  align-items: center;
  flex-wrap: wrap;
}

.divImg {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.h3 {
  margin-top: -20%;
  color: var(--main-color);
  cursor: pointer;
  border: none;
  font-weight: 400;
  height: 30px;
}

.img {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.img:hover {
  box-shadow: 3px 5px 10px #cccc;
}
@media (max-width: 600px) {
.h1Name{
  margin-top: 11vh;
}
}
