.h1{
     padding-top: 10vh;
}
#links{
    margin-top: 15vh;
     float: left;
     display: flex;
     flex-direction: column;
     align-items: start;
     margin-left: 5%;
     gap: 10px;
}
.btn{
     width: 120%;
     height: 40px;
     font-size: medium;
     background: linear-gradient(to right, rgb(255, 136, 136), rgb(181, 55, 245));
     border: none;
     border-radius: 20px;
     cursor: pointer;
     font-weight: bold;
}
#components{
     margin-top: 15vh;
}
.btn:hover{
     background: linear-gradient(to right,rgb(181, 55, 245) ,rgb(255, 136, 136));

}